[[pipelines]]
name = "build:disk:base"

[[pipelines.steps]]
name = "build base disk image"
commands = [
  # Update flake deps
  # "nix flake update",

  # Build flake
  """
  nix build ".#vm_base" \
  --out-link ./result_vms \
  --show-trace \
  """,
  """
  cp \ 
  ./result_vms/nixos.img \
  ~/Iso/nixos.efi.img
  """,
  # Set permissions
  "chmod +x ~/Iso/nixos.efi.img",
  "chmod +w ~/Iso/nixos.efi.img",
]

[[pipelines]]
name = "build:disk:all"

[[pipelines.steps]]
name = "build base disk image"
commands = [
  # Build flake
  """
  nix build ".#vm_all_sizes" \
  --out-link ./result_vms \
  --show-trace \
  """,
]
[[pipelines.steps]]
name = "copy disk images to cache"
commands = [
  "cp ./result_vms/nixos.*.img /var/lib/virshle/cache/",
  "cp ./result_vms/nixos.*.img ~/Iso",
  # Set permissions
  "chmod +x /var/lib/virshle/cache/*",
  "chmod +w /var/lib/virshle/cache/*",
]


[[pipelines]]
name = "test-ovs-nixosModule"
[[pipelines.steps]]

name = "build openvswitch test flake"
commands = [
  # Update flake deps
  "nix flake update --flake ./modules/tests/openvswitch",
  # Build flake
  """
  nixos-rebuild build \
  --flake './modules/tests/openvswitch#default' \
  """,
]

[[pipelines]]
name = "test-nixosModule"

[[pipelines.steps]]
name = "build module test flake"
commands = [
  # Update flake deps
  "nix flake update --flake ./templates/tests",
  # Build flake
  """
  nixos-rebuild build \
  --flake './templates/tests#default' \
  --override-input virshle ./
  """,
]
