/*
* Footer
*/
.footer {
  @apply z-20;
  @apply flex flex-row;
  @apply justify-center items-center;
  @apply dark:bg-black;
  /* ! sensible size params ! */
  /* colors */
  @apply bg-gray-500/50;
  /* @apply dark:bg-zinc-950; */

  .section {
    &.title {
      @apply border-b-1;
      @apply pb-2 mb-4;
    }
  }
  .link {
    .title {
      @apply px-2 py-2;
      @apply dark:hover:text-purple-500;
    }
  }
  .image {
    transition: all 150ms ease;
    @apply w-30 h-20;
    @apply bg-no-repeat bg-cover;
    @apply object-cover;
  }
}

.footerContent {
  @apply pb-10 pt-5 md:pt-10;
  @apply w-7/8 md:max-w-3/4 lg:max-w-[700px];
  @apply mx-auto;

  @apply flex flex-wrap;
  @apply flex-row;

  @apply justify-end xl:justify-center;
}
