/*
* syntax color theme
*/

/*
* Add line number for non-shell code blocks.
*/
pre:not(
    /* .language-sh, */
    /* .language-bash, */
    /* .language-zsh, */
    /* .language-fish, */
    .language-nu
  ) {
  code {
    counter-reset: n;
  }
  .z-source {
    @apply pl-6 sm:pl-4;
    counter-increment: n;
    &::before {
      @apply absolute;
      content: counter(n);
      @apply text-zinc-700;
      @apply left-4;
    }
  }
}
/*
* Shell highlight
*/
.z-shell {
  &.z-function {
    @apply text-blue-400;
  }
  &.z-function-call {
    @apply text-cyan-300;
  }
  &.z-punctuation,
  &.z-string {
    color: var(--color-yellow-500);
  }
}

/*
* Nix highlight
*/
.z-nix {
  /* Punctuation */
  .z-punctuation {
    &.z-attrset,
    &.z-list,
    &.z-entity.z-function,
    &.z-attrset-or-function {
      @apply text-yellow-200;
    }
  }
  span.z-variable.z-parameter.z-name:nth-child(1) {
    @apply dark:text-gray-100;
  }
  &.z-attribute-name,
  &.z-entity.z-other.z-attribute-name,
  &.z-variable.z-parameter.z-name {
    @apply text-cyan-300;
  }
  &.z-terminator,
  &.z-variable.z-parameter.z-function {
    @apply text-red-400;
  }
}

.z-variable.z-parameter.z-function {
  color: #c0c5ce;
}
.z-comment,
.z-punctuation.z-definition.z-comment {
  color: var(--color-gray-500);
  /* color: #65737e; */
}
.z-punctuation.z-definition.z-variable,
.z-punctuation.z-definition.z-string,
.z-punctuation.z-definition.z-parameters,
.z-punctuation.z-definition.z-array {
  /* color: #c0c5ce; */
  color: var(--color-yellow-500);
}
.z-punctuation.z-definition.z-string {
  color: var(--color-green-500);
}
.z-none {
  color: #c0c5ce;
}
.z-keyword.z-operator {
  color: #c0c5ce;
}
.z-keyword {
  /* color: #b48ead; */
  color: var(--color-yellow-500);
}
.z-variable {
  /* color: #bf616a; */
  color: var(--color-zinc-200);
  /* color: var(--color-red-600); */
}
.z-entity.z-name.z-function,
.z-meta.z-require,
.z-support.z-function.z-any-method {
  /* color: #8fa1b3; */
  color: var(--color-purple-500);
}
.z-support.z-class,
.z-entity.z-name.z-class,
.z-entity.z-name.z-type.z-class {
  color: #ebcb8b;
}
.z-meta.z-class {
  color: #eff1f5;
}
.z-keyword.z-other.z-special-method {
  color: #8fa1b3;
}
.z-storage {
  color: var(--color-blue-500);
  /* color: #b48ead; */
}
.z-support.z-function {
  color: #96b5b4;
}
.z-string,
.z-constant.z-other.z-symbol,
.z-entity.z-other.z-inherited-class {
  /* color: #a3be8c; */
  color: var(--color-green-500);
}
.z-constant.z-numeric {
  color: #d08770;
}
.z-none {
  color: #d08770;
}
.z-none {
  color: #d08770;
}
.z-constant {
  /* color: #d08770; */
  color: var(--color-zinc-200);
}
.z-entity.z-name.z-tag {
  /* color: #bf616a; */
  color: var(--color-red-500);
}
.z-entity.z-other.z-attribute-name {
  color: #d08770;
}
.z-entity.z-other.z-attribute-name.z-id,
.z-punctuation.z-definition.z-entity {
  color: #8fa1b3;
}
.z-meta.z-selector {
  color: #b48ead;
}
.z-none {
  color: #d08770;
}
.z-markup.z-heading .z-punctuation.z-definition.z-heading,
.z-entity.z-name.z-section {
  color: #8fa1b3;
}
.z-keyword.z-other.z-unit {
  color: #d08770;
}
.z-markup.z-bold,
.z-punctuation.z-definition.z-bold {
  color: #ebcb8b;
  font-weight: bold;
}
.z-markup.z-italic,
.z-punctuation.z-definition.z-italic {
  color: #b48ead;
  font-style: italic;
}
.z-markup.z-raw.z-inline {
  color: #a3be8c;
}
.z-string.z-other.z-link {
  /* color: #bf616a; */
  color: var(--color-red-500);
}
.z-meta.z-link {
  color: #d08770;
}
.z-markup.z-list {
  /* color: #bf616a; */
  color: var(--color-red-500);
}
.z-markup.z-quote {
  color: #d08770;
  @apply bg-red-800;
}
.z-meta.z-separator {
  color: #c0c5ce;
  background-color: #4f5b66;
}
.z-markup.z-inserted,
.z-markup.z-inserted.z-git_gutter {
  color: #a3be8c;
}
.z-markup.z-deleted,
.z-markup.z-deleted.z-git_gutter {
  /* color: #bf616a; */
  color: var(--color-red-500);
}
.z-markup.z-changed,
.z-markup.z-changed.z-git_gutter {
  color: #b48ead;
}
.z-markup.z-ignored,
.z-markup.z-ignored.z-git_gutter {
  color: #4f5b66;
}
.z-markup.z-untracked,
.z-markup.z-untracked.z-git_gutter {
  color: #4f5b66;
}
.z-constant.z-other.z-color {
  color: #96b5b4;
}
.z-string.z-regexp {
  color: #96b5b4;
}
.z-constant.z-character.z-escape {
  color: #96b5b4;
}
.z-punctuation.z-section.z-embedded,
.z-variable.z-interpolation {
  color: #ab7967;
}
.z-invalid.z-illegal {
  color: #2b303b;
  /* background-color: #bf616a; */
  color: var(--color-red-500);
}
.z-markup.z-deleted.z-git_gutter {
  color: #f92672;
}
.z-markup.z-inserted.z-git_gutter {
  color: #a6e22e;
}
.z-markup.z-changed.z-git_gutter {
  color: #967efb;
}
.z-markup.z-ignored.z-git_gutter {
  color: #565656;
}
.z-markup.z-untracked.z-git_gutter {
  color: #565656;
}
