@theme {
  /* doomchad from nvchad */
  --color-gray-950: #111111;
  --color-gray-900: #282c34;
  --color-gray-800: #32363e;
  --color-gray-700: #3c4048;
  --color-gray-600: #4e525a;
  --color-gray-500: #5a5e66;
  --color-gray-400: #a7aebb;
  --color-gray-300: #b3bac7;
  --color-gray-200: #bbc2cf;
  --color-red-500: #ff6c6b;
  --color-red-400: #f47067;
  --color-red-600: #c85a50;
  --color-orange-500: #ea9558;
  --color-yellow-500: #ecbe7b;

  --color-green-400: #84ee84;
  --color-green-500: #98be65;
  --color-green-600: #6bc46d;
  --color-green-700: #57ab5a;

  --color-cyan-500: #66c4ff;
  --color-purple-500: #dc8ef3;

  --color-pink-600: #ca5b89;
  --color-pink-400: #fa709a;
  --color-blue-500: #48a6e6;
}
