:tera
  {% import "macros/links.html" as links %}

:tera
  {% macro make() %}

footer.footer
  .footerContent
    a(
      href!="{{ config.extra.sponsor.url }}",
    )
      .image(
        style!="background-image: url( {{ get_url(path=\"/images/crocuda_small.png\") }} )"
      )
    
:tera
  {% endmacro make %}
  
