:tera
  {% import "macros/links.html" as links %}

:tera
  {% macro make() %}

footer.footer
  .footerContent
    .flex.flex-col.p-4
      .section.title Sponsors
      a(
        href!="{{ config.extra.sponsor.url }}",
      )
        .flex.flex-row
          p.content-center Crocuda_vps
          .image(
            style!="background-image: url( {{ get_url(path=\"/images/crocuda_small.png\") }} )"
          )
    
:tera
  {% endmacro make %}
  
