:tera
  {% import "macros/links.html" as links %}

:tera
  {% macro make(ctx) %}

footer.footer
  .footerContent
    :tera
      {% set docs = "docs/main.md" %}
      {% set_global sections = [] | concat(with=docs) | concat(with= ctx.subsections) %}
      {% for section in sections %}
      {% set section = get_section(path=section) %}
    .flex.flex-col.p-4
      .section.title {{ section.title }}
      :tera
        {% for page in section.pages %}
      :tera
        {{ links::make(ctx=page) }}
      :tera
        {% endfor %}

    :tera
      {% endfor %}

:tera
  {% endmacro make %}
  
